DEBUG=True
SECRET_KEY='django-insecure-#6xg2*4r!%!yf1n%!v9bz%ee!v@_ff&!8*^579g%p2#+aann0u'
DEFAULT_FROM_EMAIL=dinidiniannisa@gmail.com
NOTIFY_EMAIL=dinidiniannisa@gmail.com
PAYPAL_SANDBOX_CLIENT_ID=AeGB2QP9omthKxlJ4vYcxmZt4mi1F43b23iYtS3HTUCehZSwr7fvJtj7zhfKdSmaxa8fpmiLJJW7r1jB
PAYPAL_SANDBOX_SECRET_KEY=EMHHOqG8Nct23-ZaR-ZPEbWWneqcL1gezuoKrK45FFd3f3brrblkC9bQatJ9-LAu6wMI0oG7k2WM3DYE
PAYPAL_LIVE_CLIENT_ID=xxxx
PAYPAL_LIVE_SECRET_KEY=xxxx
PAYPAL_RECEIVER_EMAIL=sb-ksqo4715340256@business.example.com
PAYPAL_TEST=True